*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins',sans-serif;
}

body{
    background-color: rgb(52, 52, 52);
    color: black;
    overflow: hidden;
    overflow-y: scroll;
}